In [2]:
import pandas as pd

In [3]:
df = pd.read_excel(r"D:\Data Analysis\Pandas file\Data Cleaning\File for Data Cleaning.xlsx")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Used_Col
0,1001,Ram,Kumar,123-765-5654,"123, ABC Street, Chennai",Yes,No,Abc
1,1002,Sham,Kannan,2746378974,93 ABC Main street,No,Yes,Def
2,1003,Kate,Anny,1246827662,345 Drugs Driveway,N,Y,Abc
3,1004,Lim,...Sally,NaN,"980 Paper Avenue, Pensylvania, 18503",Y,N,Def
4,1005,Love,it,345|346|2222,123 Dragons Road,Yes,Yes,Abc
5,1006,George,Parsh,235|445|5677,876 City Prkway,No,NaN,Def
6,1007,Tim,Cook,NaN,1209 Southern Street,Y,Yes,Abc
7,1008,Sam,Love/,NaN,98 Clue Drive,N,NaN,Def
8,1009,Curran,NaN,736-097-8364,123 Middle Earth,Yes,No,Abc
9,1010,Tom,Dick,NaN,"25th Main Road, New York",No,NaN,Def
10,1011,Terry,To,2772738493,"612 Shrine Lane, Shrine",Yes,Y,Abc
11,1012,Jerry,Lim,234-098-7465,2304 Hogward Avenue,No,No,Def
12,1013,Iron,Man,123|456|9876,2309 Main Street,Yes,NaN,Abc
13,1014,Pan,_India,NaN,343 City Prkway,No,N,Def
14,1015,Ter,Kum,1234765432,241 HR Avenue,Yes,Yes,Abc
15,1016,Ravi,Rakesh,123-777-9485,2309 Hogward Avenue,No,Y,Def
16,1017,Rajesh,/KK,364|987|6453,"980 Paper Avenue, Pensylvania, 18503",Y,N,Abc
17,1018,Madhan,Kumar,NaN,3498 Super Lane,Yes,NaN,Def
18,1019,Mark,Antony,2345789876,NaN,NaN,Yes,Abc
19,1020,Antony,Khan,234|777|0987,"910 totoinee Road, totoinee",N,No,Def
20,1020,Antony,Khan,234|777|0987,"910 totoinee Road, totoinee",N,No,Def

In [4]:
#Remove Duplicates. Duplicate drows will get removed.
#We assign the result to our df variable to save the changes. We can also use inplace as well to save the changes.

df = df.drop_duplicates()
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Used_Col
0,1001,Ram,Kumar,123-765-5654,"123, ABC Street, Chennai",Yes,No,Abc
1,1002,Sham,Kannan,2746378974,93 ABC Main street,No,Yes,Def
2,1003,Kate,Anny,1246827662,345 Drugs Driveway,N,Y,Abc
3,1004,Lim,...Sally,NaN,"980 Paper Avenue, Pensylvania, 18503",Y,N,Def
4,1005,Love,it,345|346|2222,123 Dragons Road,Yes,Yes,Abc
5,1006,George,Parsh,235|445|5677,876 City Prkway,No,NaN,Def
6,1007,Tim,Cook,NaN,1209 Southern Street,Y,Yes,Abc
7,1008,Sam,Love/,NaN,98 Clue Drive,N,NaN,Def
8,1009,Curran,NaN,736-097-8364,123 Middle Earth,Yes,No,Abc
9,1010,Tom,Dick,NaN,"25th Main Road, New York",No,NaN,Def
10,1011,Terry,To,2772738493,"612 Shrine Lane, Shrine",Yes,Y,Abc
11,1012,Jerry,Lim,234-098-7465,2304 Hogward Avenue,No,No,Def
12,1013,Iron,Man,123|456|9876,2309 Main Street,Yes,NaN,Abc
13,1014,Pan,_India,NaN,343 City Prkway,No,N,Def
14,1015,Ter,Kum,1234765432,241 HR Avenue,Yes,Yes,Abc
15,1016,Ravi,Rakesh,123-777-9485,2309 Hogward Avenue,No,Y,Def
16,1017,Rajesh,/KK,364|987|6453,"980 Paper Avenue, Pensylvania, 18503",Y,N,Abc
17,1018,Madhan,Kumar,NaN,3498 Super Lane,Yes,NaN,Def
18,1019,Mark,Antony,2345789876,NaN,NaN,Yes,Abc
19,1020,Antony,Khan,234|777|0987,"910 totoinee Road, totoinee",N,No,Def

In [5]:
#Delete unused cols

df = df.drop(columns = "Not_Used_Col")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Ram,Kumar,123-765-5654,"123, ABC Street, Chennai",Yes,No
1,1002,Sham,Kannan,2746378974,93 ABC Main street,No,Yes
2,1003,Kate,Anny,1246827662,345 Drugs Driveway,N,Y
3,1004,Lim,...Sally,NaN,"980 Paper Avenue, Pensylvania, 18503",Y,N
4,1005,Love,it,345|346|2222,123 Dragons Road,Yes,Yes
5,1006,George,Parsh,235|445|5677,876 City Prkway,No,NaN
6,1007,Tim,Cook,NaN,1209 Southern Street,Y,Yes
7,1008,Sam,Love/,NaN,98 Clue Drive,N,NaN
8,1009,Curran,NaN,736-097-8364,123 Middle Earth,Yes,No
9,1010,Tom,Dick,NaN,"25th Main Road, New York",No,NaN
10,1011,Terry,To,2772738493,"612 Shrine Lane, Shrine",Yes,Y
11,1012,Jerry,Lim,234-098-7465,2304 Hogward Avenue,No,No
12,1013,Iron,Man,123|456|9876,2309 Main Street,Yes,NaN
13,1014,Pan,_India,NaN,343 City Prkway,No,N
14,1015,Ter,Kum,1234765432,241 HR Avenue,Yes,Yes
15,1016,Ravi,Rakesh,123-777-9485,2309 Hogward Avenue,No,Y
16,1017,Rajesh,/KK,364|987|6453,"980 Paper Avenue, Pensylvania, 18503",Y,N
17,1018,Madhan,Kumar,NaN,3498 Super Lane,Yes,NaN
18,1019,Mark,Antony,2345789876,NaN,NaN,Yes
19,1020,Antony,Khan,234|777|0987,"910 totoinee Road, totoinee",N,No

In [8]:
#Remove extra dots, _ and / in LastName col. We use strip() function from str to do the same. 
#We take only the lastname col so we can apply the strip only to that col.
#We directly pass the values which we want to remove and strip will only remove these values if these are present @ start or end of the names.
#We save it to df["last_Name"], as if we save it to df, it will only save the last name data to df and will erase other cols from our df
#so be careful while saving the result of strip.

df["Last_Name"]=df["Last_Name"].str.strip(",._/")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Ram,Kumar,123-765-5654,"123, ABC Street, Chennai",Yes,No
1,1002,Sham,Kannan,2746378974,93 ABC Main street,No,Yes
2,1003,Kate,Anny,1246827662,345 Drugs Driveway,N,Y
3,1004,Lim,Sally,NaN,"980 Paper Avenue, Pensylvania, 18503",Y,N
4,1005,Love,it,345|346|2222,123 Dragons Road,Yes,Yes
5,1006,George,Parsh,235|445|5677,876 City Prkway,No,NaN
6,1007,Tim,Cook,NaN,1209 Southern Street,Y,Yes
7,1008,Sam,Love,NaN,98 Clue Drive,N,NaN
8,1009,Curran,NaN,736-097-8364,123 Middle Earth,Yes,No
9,1010,Tom,Dick,NaN,"25th Main Road, New York",No,NaN
10,1011,Terry,To,2772738493,"612 Shrine Lane, Shrine",Yes,Y
11,1012,Jerry,Lim,234-098-7465,2304 Hogward Avenue,No,No
12,1013,Iron,Man,123|456|9876,2309 Main Street,Yes,NaN
13,1014,Pan,India,NaN,343 City Prkway,No,N
14,1015,Ter,Kum,1234765432,241 HR Avenue,Yes,Yes
15,1016,Ravi,Rakesh,123-777-9485,2309 Hogward Avenue,No,Y
16,1017,Rajesh,KK,364|987|6453,"980 Paper Avenue, Pensylvania, 18503",Y,N
17,1018,Madhan,Kumar,NaN,3498 Super Lane,Yes,NaN
18,1019,Mark,Antony,2345789876,NaN,NaN,Yes
19,1020,Antony,Khan,234|777|0987,"910 totoinee Road, totoinee",N,No

# Change the phone number col to same format 123-456-7890 and also replace NAN and NA values to blank

In [9]:
#1)USe regular expression [^a-zA-Z0-9], where we are taking values apart from ones mentioned in this and replacing it with 
#blank value

df["Phone_Number"] = df["Phone_Number"].str.replace("[^a-zA-Z0-9]","")
df

C:\Users\nagar\AppData\Local\Temp/ipykernel_20924/3022843675.py:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df["Phone_Number"] = df["Phone_Number"].str.replace("[^a-zA-Z0-9]","")

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Ram,Kumar,1237655654,"123, ABC Street, Chennai",Yes,No
1,1002,Sham,Kannan,NaN,93 ABC Main street,No,Yes
2,1003,Kate,Anny,NaN,345 Drugs Driveway,N,Y
3,1004,Lim,Sally,NaN,"980 Paper Avenue, Pensylvania, 18503",Y,N
4,1005,Love,it,3453462222,123 Dragons Road,Yes,Yes
5,1006,George,Parsh,2354455677,876 City Prkway,No,NaN
6,1007,Tim,Cook,NaN,1209 Southern Street,Y,Yes
7,1008,Sam,Love,NaN,98 Clue Drive,N,NaN
8,1009,Curran,NaN,7360978364,123 Middle Earth,Yes,No
9,1010,Tom,Dick,NaN,"25th Main Road, New York",No,NaN
10,1011,Terry,To,NaN,"612 Shrine Lane, Shrine",Yes,Y
11,1012,Jerry,Lim,2340987465,2304 Hogward Avenue,No,No
12,1013,Iron,Man,1234569876,2309 Main Street,Yes,NaN
13,1014,Pan,India,NaN,343 City Prkway,No,N
14,1015,Ter,Kum,NaN,241 HR Avenue,Yes,Yes
15,1016,Ravi,Rakesh,1237779485,2309 Hogward Avenue,No,Y
16,1017,Rajesh,KK,3649876453,"980 Paper Avenue, Pensylvania, 18503",Y,N
17,1018,Madhan,Kumar,NaN,3498 Super Lane,Yes,NaN
18,1019,Mark,Antony,NaN,NaN,NaN,Yes
19,1020,Antony,Khan,2347770987,"910 totoinee Road, totoinee",N,No

In [10]:
#2)Now we want to change the format of the values to include hiphen in between. So we need to change the values to string, so
#we can put it in a loop using lambda expression/for loop and concat it with hiphen

df["Phone_Number"] = df["Phone_Number"].apply(lambda x: str(x))
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Ram,Kumar,1237655654,"123, ABC Street, Chennai",Yes,No
1,1002,Sham,Kannan,nan,93 ABC Main street,No,Yes
2,1003,Kate,Anny,nan,345 Drugs Driveway,N,Y
3,1004,Lim,Sally,nan,"980 Paper Avenue, Pensylvania, 18503",Y,N
4,1005,Love,it,3453462222,123 Dragons Road,Yes,Yes
5,1006,George,Parsh,2354455677,876 City Prkway,No,NaN
6,1007,Tim,Cook,nan,1209 Southern Street,Y,Yes
7,1008,Sam,Love,nan,98 Clue Drive,N,NaN
8,1009,Curran,NaN,7360978364,123 Middle Earth,Yes,No
9,1010,Tom,Dick,nan,"25th Main Road, New York",No,NaN
10,1011,Terry,To,nan,"612 Shrine Lane, Shrine",Yes,Y
11,1012,Jerry,Lim,2340987465,2304 Hogward Avenue,No,No
12,1013,Iron,Man,1234569876,2309 Main Street,Yes,NaN
13,1014,Pan,India,nan,343 City Prkway,No,N
14,1015,Ter,Kum,nan,241 HR Avenue,Yes,Yes
15,1016,Ravi,Rakesh,1237779485,2309 Hogward Avenue,No,Y
16,1017,Rajesh,KK,3649876453,"980 Paper Avenue, Pensylvania, 18503",Y,N
17,1018,Madhan,Kumar,nan,3498 Super Lane,Yes,NaN
18,1019,Mark,Antony,nan,NaN,NaN,Yes
19,1020,Antony,Khan,2347770987,"910 totoinee Road, totoinee",N,No

In [11]:
#3)Here we use lambda function again to concat hiphen inbetween phone numbers

df["Phone_Number"] = df["Phone_Number"].apply(lambda x : x[0:3]+"-"+x[3:6]+"-"+x[6:10])
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Ram,Kumar,123-765-5654,"123, ABC Street, Chennai",Yes,No
1,1002,Sham,Kannan,nan--,93 ABC Main street,No,Yes
2,1003,Kate,Anny,nan--,345 Drugs Driveway,N,Y
3,1004,Lim,Sally,nan--,"980 Paper Avenue, Pensylvania, 18503",Y,N
4,1005,Love,it,345-346-2222,123 Dragons Road,Yes,Yes
5,1006,George,Parsh,235-445-5677,876 City Prkway,No,NaN
6,1007,Tim,Cook,nan--,1209 Southern Street,Y,Yes
7,1008,Sam,Love,nan--,98 Clue Drive,N,NaN
8,1009,Curran,NaN,736-097-8364,123 Middle Earth,Yes,No
9,1010,Tom,Dick,nan--,"25th Main Road, New York",No,NaN
10,1011,Terry,To,nan--,"612 Shrine Lane, Shrine",Yes,Y
11,1012,Jerry,Lim,234-098-7465,2304 Hogward Avenue,No,No
12,1013,Iron,Man,123-456-9876,2309 Main Street,Yes,NaN
13,1014,Pan,India,nan--,343 City Prkway,No,N
14,1015,Ter,Kum,nan--,241 HR Avenue,Yes,Yes
15,1016,Ravi,Rakesh,123-777-9485,2309 Hogward Avenue,No,Y
16,1017,Rajesh,KK,364-987-6453,"980 Paper Avenue, Pensylvania, 18503",Y,N
17,1018,Madhan,Kumar,nan--,3498 Super Lane,Yes,NaN
18,1019,Mark,Antony,nan--,NaN,NaN,Yes
19,1020,Antony,Khan,234-777-0987,"910 totoinee Road, totoinee",N,No

In [45]:
#4)Remove naan from phone number cols(if NA is present, use another replace() mtd to remove NA)

df["Phone_Number"] = df["Phone_Number"].str.replace("nan--","")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact
0,1001,Ram,Kumar,123-765-5654,"123, ABC Street, Chennai",Yes,No
1,1002,Sham,Kannan,,93 ABC Main street,No,Yes
2,1003,Kate,Anny,,345 Drugs Driveway,N,Y
3,1004,Lim,Sally,,"980 Paper Avenue, Pensylvania, 18503",Y,N
4,1005,Love,it,345-346-2222,123 Dragons Road,Yes,Yes
5,1006,George,Parsh,235-445-5677,876 City Prkway,No,NaN
6,1007,Tim,Cook,,1209 Southern Street,Y,Yes
7,1008,Sam,Love,,98 Clue Drive,N,NaN
8,1009,Curran,NaN,736-097-8364,123 Middle Earth,Yes,No
9,1010,Tom,Dick,,"25th Main Road, New York",No,NaN
10,1011,Terry,To,,"612 Shrine Lane, Shrine",Yes,Y
11,1012,Jerry,Lim,234-098-7465,2304 Hogward Avenue,No,No
12,1013,Iron,Man,123-456-9876,2309 Main Street,Yes,NaN
13,1014,Pan,India,,343 City Prkway,No,N
14,1015,Ter,Kum,,241 HR Avenue,Yes,Yes
15,1016,Ravi,Rakesh,123-777-9485,2309 Hogward Avenue,No,Y
16,1017,Rajesh,KK,364-987-6453,"980 Paper Avenue, Pensylvania, 18503",Y,N
17,1018,Madhan,Kumar,,3498 Super Lane,Yes,NaN
18,1019,Mark,Antony,,NaN,NaN,Yes
19,1020,Antony,Khan,234-777-0987,"910 totoinee Road, totoinee",N,No

In [16]:
#Splitting the address cols to 3 cols, 1)Street details 2)City 3)Pincode
#Expland attribute is used to expand the splitted cols into seperate cols.

df[["Street_Details","City","Pincodae"]]=df["Address"].str.split(",", expand=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Details,City,Pincode
0,1001,Ram,Kumar,123-765-5654,"123, ABC Street, Chennai",Yes,No,123,ABC Street,Chennai
1,1002,Sham,Kannan,nan--,93 ABC Main street,No,Yes,93 ABC Main street,None,None
2,1003,Kate,Anny,nan--,345 Drugs Driveway,N,Y,345 Drugs Driveway,None,None
3,1004,Lim,Sally,nan--,"980 Paper Avenue, Pensylvania, 18503",Y,N,980 Paper Avenue,Pensylvania,18503
4,1005,Love,it,345-346-2222,123 Dragons Road,Yes,Yes,123 Dragons Road,None,None
5,1006,George,Parsh,235-445-5677,876 City Prkway,No,NaN,876 City Prkway,None,None
6,1007,Tim,Cook,nan--,1209 Southern Street,Y,Yes,1209 Southern Street,None,None
7,1008,Sam,Love,nan--,98 Clue Drive,N,NaN,98 Clue Drive,None,None
8,1009,Curran,NaN,736-097-8364,123 Middle Earth,Yes,No,123 Middle Earth,None,None
9,1010,Tom,Dick,nan--,"25th Main Road, New York",No,NaN,25th Main Road,New York,None
10,1011,Terry,To,nan--,"612 Shrine Lane, Shrine",Yes,Y,612 Shrine Lane,Shrine,None
11,1012,Jerry,Lim,234-098-7465,2304 Hogward Avenue,No,No,2304 Hogward Avenue,None,None
12,1013,Iron,Man,123-456-9876,2309 Main Street,Yes,NaN,2309 Main Street,None,None
13,1014,Pan,India,nan--,343 City Prkway,No,N,343 City Prkway,None,None
14,1015,Ter,Kum,nan--,241 HR Avenue,Yes,Yes,241 HR Avenue,None,None
15,1016,Ravi,Rakesh,123-777-9485,2309 Hogward Avenue,No,Y,2309 Hogward Avenue,None,None
16,1017,Rajesh,KK,364-987-6453,"980 Paper Avenue, Pensylvania, 18503",Y,N,980 Paper Avenue,Pensylvania,18503
17,1018,Madhan,Kumar,nan--,3498 Super Lane,Yes,NaN,3498 Super Lane,None,None
18,1019,Mark,Antony,nan--,NaN,NaN,Yes,NaN,NaN,NaN
19,1020,Antony,Khan,234-777-0987,"910 totoinee Road, totoinee",N,No,910 totoinee Road,totoinee,None

In [19]:
#In Paying Customer col, we are changing Yes->Y and No->N

df["Paying Customer"]= df["Paying Customer"].str.replace("Yes","Y")
df["Paying Customer"]= df["Paying Customer"].str.replace("No","N")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Details,City,Pincode
0,1001,Ram,Kumar,123-765-5654,"123, ABC Street, Chennai",Y,No,123,ABC Street,Chennai
1,1002,Sham,Kannan,nan--,93 ABC Main street,N,Yes,93 ABC Main street,None,None
2,1003,Kate,Anny,nan--,345 Drugs Driveway,N,Y,345 Drugs Driveway,None,None
3,1004,Lim,Sally,nan--,"980 Paper Avenue, Pensylvania, 18503",Y,N,980 Paper Avenue,Pensylvania,18503
4,1005,Love,it,345-346-2222,123 Dragons Road,Y,Yes,123 Dragons Road,None,None
5,1006,George,Parsh,235-445-5677,876 City Prkway,N,NaN,876 City Prkway,None,None
6,1007,Tim,Cook,nan--,1209 Southern Street,Y,Yes,1209 Southern Street,None,None
7,1008,Sam,Love,nan--,98 Clue Drive,N,NaN,98 Clue Drive,None,None
8,1009,Curran,NaN,736-097-8364,123 Middle Earth,Y,No,123 Middle Earth,None,None
9,1010,Tom,Dick,nan--,"25th Main Road, New York",N,NaN,25th Main Road,New York,None
10,1011,Terry,To,nan--,"612 Shrine Lane, Shrine",Y,Y,612 Shrine Lane,Shrine,None
11,1012,Jerry,Lim,234-098-7465,2304 Hogward Avenue,N,No,2304 Hogward Avenue,None,None
12,1013,Iron,Man,123-456-9876,2309 Main Street,Y,NaN,2309 Main Street,None,None
13,1014,Pan,India,nan--,343 City Prkway,N,N,343 City Prkway,None,None
14,1015,Ter,Kum,nan--,241 HR Avenue,Y,Yes,241 HR Avenue,None,None
15,1016,Ravi,Rakesh,123-777-9485,2309 Hogward Avenue,N,Y,2309 Hogward Avenue,None,None
16,1017,Rajesh,KK,364-987-6453,"980 Paper Avenue, Pensylvania, 18503",Y,N,980 Paper Avenue,Pensylvania,18503
17,1018,Madhan,Kumar,nan--,3498 Super Lane,Y,NaN,3498 Super Lane,None,None
18,1019,Mark,Antony,nan--,NaN,NaN,Yes,NaN,NaN,NaN
19,1020,Antony,Khan,234-777-0987,"910 totoinee Road, totoinee",N,No,910 totoinee Road,totoinee,None

In [21]:
#In Don't Contact col, we are changing Yes->Y and No->N

df["Do_Not_Contact"]= df["Do_Not_Contact"].str.replace("Yes","Y")
df["Do_Not_Contact"]= df["Do_Not_Contact"].str.replace("No","N")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Details,City,Pincode
0,1001,Ram,Kumar,123-765-5654,"123, ABC Street, Chennai",Y,N,123,ABC Street,Chennai
1,1002,Sham,Kannan,nan--,93 ABC Main street,N,Y,93 ABC Main street,None,None
2,1003,Kate,Anny,nan--,345 Drugs Driveway,N,Y,345 Drugs Driveway,None,None
3,1004,Lim,Sally,nan--,"980 Paper Avenue, Pensylvania, 18503",Y,N,980 Paper Avenue,Pensylvania,18503
4,1005,Love,it,345-346-2222,123 Dragons Road,Y,Y,123 Dragons Road,None,None
5,1006,George,Parsh,235-445-5677,876 City Prkway,N,NaN,876 City Prkway,None,None
6,1007,Tim,Cook,nan--,1209 Southern Street,Y,Y,1209 Southern Street,None,None
7,1008,Sam,Love,nan--,98 Clue Drive,N,NaN,98 Clue Drive,None,None
8,1009,Curran,NaN,736-097-8364,123 Middle Earth,Y,N,123 Middle Earth,None,None
9,1010,Tom,Dick,nan--,"25th Main Road, New York",N,NaN,25th Main Road,New York,None
10,1011,Terry,To,nan--,"612 Shrine Lane, Shrine",Y,Y,612 Shrine Lane,Shrine,None
11,1012,Jerry,Lim,234-098-7465,2304 Hogward Avenue,N,N,2304 Hogward Avenue,None,None
12,1013,Iron,Man,123-456-9876,2309 Main Street,Y,NaN,2309 Main Street,None,None
13,1014,Pan,India,nan--,343 City Prkway,N,N,343 City Prkway,None,None
14,1015,Ter,Kum,nan--,241 HR Avenue,Y,Y,241 HR Avenue,None,None
15,1016,Ravi,Rakesh,123-777-9485,2309 Hogward Avenue,N,Y,2309 Hogward Avenue,None,None
16,1017,Rajesh,KK,364-987-6453,"980 Paper Avenue, Pensylvania, 18503",Y,N,980 Paper Avenue,Pensylvania,18503
17,1018,Madhan,Kumar,nan--,3498 Super Lane,Y,NaN,3498 Super Lane,None,None
18,1019,Mark,Antony,nan--,NaN,NaN,Y,NaN,NaN,NaN
19,1020,Antony,Khan,234-777-0987,"910 totoinee Road, totoinee",N,N,910 totoinee Road,totoinee,None

In [29]:
#Removing NAN(none) values from all cols

df=df.fillna("")
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Details,City,Pincode
0,1001,Ram,Kumar,123-765-5654,"123, ABC Street, Chennai",Y,N,123,ABC Street,Chennai
3,1004,Lim,Sally,,"980 Paper Avenue, Pensylvania, 18503",Y,N,980 Paper Avenue,Pensylvania,18503
5,1006,George,Parsh,235-445-5677,876 City Prkway,N,,876 City Prkway,,
7,1008,Sam,Love,,98 Clue Drive,N,,98 Clue Drive,,
8,1009,Curran,,736-097-8364,123 Middle Earth,Y,N,123 Middle Earth,,
9,1010,Tom,Dick,,"25th Main Road, New York",N,,25th Main Road,New York,
11,1012,Jerry,Lim,234-098-7465,2304 Hogward Avenue,N,N,2304 Hogward Avenue,,
12,1013,Iron,Man,123-456-9876,2309 Main Street,Y,,2309 Main Street,,
13,1014,Pan,India,,343 City Prkway,N,N,343 City Prkway,,
16,1017,Rajesh,KK,364-987-6453,"980 Paper Avenue, Pensylvania, 18503",Y,N,980 Paper Avenue,Pensylvania,18503
17,1018,Madhan,Kumar,,3498 Super Lane,Y,,3498 Super Lane,,
19,1020,Antony,Khan,234-777-0987,"910 totoinee Road, totoinee",N,N,910 totoinee Road,totoinee,

# Filtering the cols

In [30]:
#We are removing the "Y" values from Do_Not_Contact cols as customers have said yes to not contact them. So we keep blank and 
#"N" values.
#df.loc[x], will provide values of all cols wrt index. We need only donot contact col values here, so we mention the col name in if statement.
#Then we drop the Y values in this col and save the same using inplace.

for x in df.index:
    if df.loc[x,"Do_Not_Contact"] == "Y":
        df.drop(x,inplace=True)
        
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Details,City,Pincode
0,1001,Ram,Kumar,123-765-5654,"123, ABC Street, Chennai",Y,N,123,ABC Street,Chennai
3,1004,Lim,Sally,,"980 Paper Avenue, Pensylvania, 18503",Y,N,980 Paper Avenue,Pensylvania,18503
5,1006,George,Parsh,235-445-5677,876 City Prkway,N,,876 City Prkway,,
7,1008,Sam,Love,,98 Clue Drive,N,,98 Clue Drive,,
8,1009,Curran,,736-097-8364,123 Middle Earth,Y,N,123 Middle Earth,,
9,1010,Tom,Dick,,"25th Main Road, New York",N,,25th Main Road,New York,
11,1012,Jerry,Lim,234-098-7465,2304 Hogward Avenue,N,N,2304 Hogward Avenue,,
12,1013,Iron,Man,123-456-9876,2309 Main Street,Y,,2309 Main Street,,
13,1014,Pan,India,,343 City Prkway,N,N,343 City Prkway,,
16,1017,Rajesh,KK,364-987-6453,"980 Paper Avenue, Pensylvania, 18503",Y,N,980 Paper Avenue,Pensylvania,18503
17,1018,Madhan,Kumar,,3498 Super Lane,Y,,3498 Super Lane,,
19,1020,Antony,Khan,234-777-0987,"910 totoinee Road, totoinee",N,N,910 totoinee Road,totoinee,

In [35]:
#Next we remove the customers who have not provided the phone number

for x in df.index:
    if df.loc[x,"Phone_Number"] == "":
        df.drop(x,inplace=True)
 
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Details,City,Pincode
0,1001,Ram,Kumar,123-765-5654,"123, ABC Street, Chennai",Y,N,123,ABC Street,Chennai
8,1009,Curran,,736-097-8364,123 Middle Earth,Y,N,123 Middle Earth,,
11,1012,Jerry,Lim,234-098-7465,2304 Hogward Avenue,N,N,2304 Hogward Avenue,,
16,1017,Rajesh,KK,364-987-6453,"980 Paper Avenue, Pensylvania, 18503",Y,N,980 Paper Avenue,Pensylvania,18503
19,1020,Antony,Khan,234-777-0987,"910 totoinee Road, totoinee",N,N,910 totoinee Road,totoinee,

In [38]:
#You can see the index values are not in order(0,8,11..). To reset it we use reset_index(), with drop as true(with out this, old index will be added as a col. Tis will drop the old index -> 0,8,11...)
df=df.reset_index(drop=True)
df

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Street_Details,City,Pincode
0,1001,Ram,Kumar,123-765-5654,"123, ABC Street, Chennai",Y,N,123,ABC Street,Chennai
1,1009,Curran,,736-097-8364,123 Middle Earth,Y,N,123 Middle Earth,,
2,1012,Jerry,Lim,234-098-7465,2304 Hogward Avenue,N,N,2304 Hogward Avenue,,
3,1017,Rajesh,KK,364-987-6453,"980 Paper Avenue, Pensylvania, 18503",Y,N,980 Paper Avenue,Pensylvania,18503
4,1020,Antony,Khan,234-777-0987,"910 totoinee Road, totoinee",N,N,910 totoinee Road,totoinee,